/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.pb-3 {
    margin-top: 80px;
}

#mediaContainer {
    margin-top: 20px;
    position: relative;
    padding-top: 56.25%;
}

#videoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scrollDiv {
    overflow-x: auto;
}

#weatherContainer {
    margin-top: 20px;
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/mars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#mainWeather {
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 140px;
    width: 100%;
}

#mainWeather > h3{
    font-weight: bold;
}

#mainWeather > p {
    font-size: 120%;
}

#mainSolDate {
    padding-left: 20px;
    font-size: 136%;
    display: inline-block;
}

#mainSolDate > p > span {
    font-weight: bolder;
    font-size: 140%;
}

#mainSolWeather {
    padding-left: 20px;
    font-size: 136%;
    display: inline-block;
}

#mainSolWeather > p > span {
    line-height: 190%;
}

#fiveDaysContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 140px;
}

.dayContainer {
    width: 140px;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    margin-right: 16px;
    margin-top: 16px;
    padding-bottom: 4px;
}

.dayContainer > p > span {
    font-weight: bold;
    font-size: 130%;
}

.dayContainer > hr {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#solForm {
    margin-top: 40px;
    width: 50%;
}

#jpl {
    float: right;
}

#weatherTable {
    margin-top: 40px;
}

td {
    min-width: 58px;
}

#asteroidsContainer {
    margin-top: 24px;
    background: url("../images/asteroid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#asteroidsTitle {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 140px;
    padding-bottom: 10px;
    width: 100%;
}

#asteroidsTitle > h3 {
    font-weight: bold;
}

#asteroidsTitle > p {
    font-size: 120%;
}

.asteroidsNumber {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 2px;
    font-size: 130%;
}

.asteroidsNumber > span {
    font-weight: bold;
    font-size: 110%;
}

#threeAsteroidsContainer {
    padding-left: 20px;
    padding-bottom: 144px;
    margin-top: 24px;
}

.astContainer {
    width: 152px;
    background: rgba(128, 128, 128, 0.3);
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    margin-right: 16px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

#astContainerTitle {
    height: calc(var(--line-height) * 2em);
    --line-height: 1.0;
    font-weight: bold;
    font-size: 130%;
}

.astContainer > hr {
    background-color: white;
}

#asteroidsTable {
    margin-top: 50px;
}

#historyTable {
    margin-top: 20px;
}

@media (min-width: 992px) {
    #weatherContainer {
        background-size: auto;
    }

    #mainWeather {
        padding-right: 60px;
        width: 56%;
    }

    #mainSolDate {
        padding-left: 40px;
    }

    #mainSolWeather {
        padding-left: 120px;
    }

    #solForm {
        width: 30%;
    }

    #asteroidsTitle {
        padding-left: 60px;
        width: 56%;
    }

    .asteroidsNumber {
        padding-left: 60px;
    }

    #threeAsteroidsContainer {
        padding-left: 60px;
        padding-right: 40px;
    }

}

@media (min-width: 500px) {
    #mainWeather {
        padding-left: 60px;
    }

    #fiveDaysContainer {
        padding-left: 60px;
        padding-right: 40px;
    }

    .astContainer {
        width: 162px;
    }
}


